body{
	font-family: arial,serif;
	font-size: 16px;
	background-color: #FFFFFF;
}
#toanbo{
	background-image: url(234.jpg);
	width: 1200px;
	margin: 0 auto; /*can ra giua*/
	height: 650px;
	}

#logo{
	/*float: left;*/
	width: 600px;
	height: 100px;
	background-color: #FFFFFF;
}
#box{

	margin: 0 auto;
	width: 600px;
	border: 3px solid #ef8f8f; /*duong vien bao*/
	border-radius: 5px;
	box-shadow: 0px 3px 3px rgba(0,0,1);
}
.tieude{
	background-color: #FF9999;
	color: #FFFFFF;
	font-weight: bold; /*chá»¯ Ä‘áº­m*/
	padding: 5px;/*cĂ¡ch táº¥t cáº£*/
	text-align: center;
}
.noidung{
	background-color: #eda3a3;
	padding: 5px; 
	text-align: justify;/*chu cach deu*/
	text-align: center; /*cÄƒn giá»¯a*/

}
.noidung a{
	text-decoration: none;
	color:  #f47770;
}
.noidung a:hover{
	color:  #FFFFFF;
	font-size: 18px;
}
#back{
	background-color: #f47770;
	font-weight: bold;/*chá»¯ Ä‘áº­m*/
	height: 20px;
	padding: 5px;

}
#back a{
	text-decoration: none;/*lĂ m máº¥t gáº¡ch chĂ¢n*/
	color:  #FFFFFF;

}
#back a:hover{
	font-size: 18px;
	
}
#rong{
	height: 100px;
}
#rong1{
	height: 400px;
}

